<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>comehere-커뮤니티 챌린지 게시판</title>
        
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Contact</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="../images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="../css/owl.carousel.min.css">
      <!-- <link rel="stylesheet" href="../css/owl.theme.default.min.css"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      
      <!-- 공식부트스트랩 CSS -->
      <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
      
      <style>
        .our_textJD {
        width: 100%;
        float: left;
        font-size: 36px;
        color: #121111;
        text-transform: uppercase;
        text-align: center;
        padding-top: 90px;
        }
        
        .furnitures_sectionJD {
            width: 100%;
            min-height: 1300px;
            float: left;
            padding-bottom: 90px;
        }
        
        .write-box {
          border: 2px, black;
          padding-top: 30px;
          padding-left: 87%;
        }
        .page_center {
          display : flex;
          margin : auto;
          /* width: 42px; */
        }
        .title-min-width {
          min-width: 700px;
        }
        
        .btn-outline-successJD {
          color: #0d6efd;
          background-color: transparent;
          background-image: none;
          border-color: #0d6efd;
        }
        .btn-outline-successJD:hover {
          color: #fff;
          background-color: #0d6efd;
          border-color: #0d6efd;
        }
        
        .jd1 {
          background-color: gray;
          width: 390px;
          height: 390px;
          margin: 10px;
        }
        
        .imgJD {
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: auto;
          display: block;
        }
        
        .imgJD:hover {
          color: #fff;
          background-color: #0d6efd;
          border-color: #0d6efd;
        }
        
        #boardTitle {
          font-size: 20px;
          font-weight: bold;
        }
        
        .cate-bottom-line {
          border-bottom: 1px solid black;
          border-top: 1px solid black;
        }
        
        #community-title {
          color: #ffb607;
        }

      </style>

    </head>
       <body>
  <!-- header section start -->
  <div class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="main_logo"><a href="/app"><img src="../images/logo.png"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="../party/list">운동찾기</a></li>
            <li class="nav-item"><a class="nav-link" href="main">커뮤니티</a></li>
            <li class="nav-item"><a class="nav-link" href="#">공지사항</a></li>
          </ul>
          <div class="login-bt">
            <ul>
              <li data-th-if="${session.loginMember == null}"><a href="../auth/form" >로그인</a></li>
              <li data-th-if="${session.loginMember != null}"><a href="../member/viewer">마이페이지</a></li>
              <li data-th-if="${session.loginMember != null}"><a href="../auth/logout" data-th-text="${session.loginMember.name} + '(로그아웃)'">동동(로그아웃)</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- header section end -->
      
      <!-- furnitures section start -->
      <div class="furnitures_sectionJD layout_padding">
         <a href="main"><h1 class="container" id="community-title" >커뮤니티</h1></a>
         <div class="container cate-bottom-line">
           <!-- 게시판 카테고리 이동 시작 -->
           <ul class="nav nav-pills nav-justified">
             <li class="nav-item"><a class="nav-link" href="list?no=1">자유게시판</a></li>
             <li class="nav-item"><a class="nav-link" href="list?no=2">식단게시판</a></li>
             <li class="nav-item"><a class="nav-link" href="list?no=3">챌린지게시판</a></li>
             <li class="nav-item"><a class="nav-link" href="list?no=4">질문게시판</a></li>
             <li class="nav-item"><a class="nav-link" href="list?no=5">핫딜게시판</a></li>
           </ul>
           <!-- 게시판 카테고리 이동 끝 -->
  
            <!-- 게시판 제목과 내용 -->
            <h1 class="our_textJD" id="cateName">게시판 제목입니다.</h1>
            <p class="ipsum_text" id="cateConment">게시판의 내용입니다.</p>
            
            
            <div class="furnitures_section2 layout_padding">
              <div class="album py-5 bg-light">
                <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  
                  <th:block th:each="board : ${list}">
                    <div class="col">
                      <div class="card shadow-sm">
                        <div class="bd-placeholder-img card-img-top"> 
                          <div class="jd1">
                            <a th:href="@{detail(no=${board.no})}"><img th:if="${board.path == null}" src="/app/board/files/nothumpnail.jpg" alt="Avatar" class="imgJD"/></a>
                            <a th:href="@{detail(no=${board.no})}"><img  th:if="${board.path != null}" th:src="@{'/board/files/' + ${board.path}}" alt="Avatar" class="imgJD"/></a>
                          </div>
                        </div>
                        <div class="card-body">
                          <a id="boardTitle" class="card-text" href='detail?no=1'
                              th:href="@{detail(no=${board.no})}"
                              th:text="${board.title == ''} ? '(제목없음)' : ${board.title}">제목없음</a>
                              <div th:text="${board.writer.name}">유길동</div>
                            조회수: <span th:text="${board.viewCount}">17</span>

                          <div class="d-flex justify-content-between align-items-center">

                            <span class="float-end" th:text="${board.createdDate}">9 mins</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th:block>
               <div>
               </div>
          </div>
               
         <!--       
                  <th:block th:each="board : ${list}">
                    <div style="background-color: gray;">
                         <img th:src="@{'http://localhost:8888/app/board/files/' + ${board.path}}" alt="Avatar"/>
                         <div class="container_main">
                          <div class="overlay">
                             <a href="#" class="icon" title="User Profile">
                             <i class="fa fa-search"></i>
                             </a>
                          </div>     
                          <h3 class="temper_text" th:text="${board.title}">게시글 제목</h3>
                          <p class="dololr_text"> 
                            <td th:text="${board.no}">100</td>
                            <td class="title-min-width"><a href='detail?no=1'
                              th:href="@{detail(no=${board.no})}"
                              th:text="${board.title == ''} ? '(제목없음)' : ${board.title}">제목없음</a></td>
                            <td th:text="${board.writer.name}">유길동</td>
                            <td th:text="${board.viewCount}">17</td>
                            <td th:text="${board.createdDate}">0000-1-1</td>
                          </p>
                         </div>
                    </div>
                  </th:block>
             -->

            
            
            
                  <!-- 게시글 목록 끝 -->
                  <li class="write-box">
                    <a class="btn btn-primary" href="form?cateno=3" role="button">글쓰기</a>
                  </li>
                
                  <!-- 페이징 버튼 시작 -->
                  <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <div class="page_center">
                        <li class="page-item" th:if="${pageMaker.prev}">
                          <a class="page-link" th:href="@{list(pageMaker.startPage-1, no=${catenoInBoard.cateno})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <th:block th:each="pageNum: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                          <li class="page-item">
                            <a class="page-link" th:href="@{list(page=${pageNum}, no=${catenoInBoard.cateno})}"><i th:text="${pageNum}"></i></a>
                          </li>
                        </th:block>
                        <li class="page-item" th:if="${pageMaker.next && pageMaker.endPage >0}">
                          <a class="page-link" th:href="@{list(page=${pageMaker.endPage+1}, no=${catenoInBoard.cateno})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </nav>
                  <!-- 페이징 버튼 끝 -->
                 <nav class="navbar navbar-light">
                 <div style="margin: auto">
                   <form class="form-inline"  >
                     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-successJD my-2 my-sm-0"type="submit">Search</button>
                   </form>
                </div>
                 </nav>
            </div>
         </div>

        </div>
      </div>
      <!-- furnitures section end -->
      
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="fooer_logo"><img src="../images/footer-logo.png"></div>
                  <p class="footer_lorem_text">There are many variat
                     ions of passages of L
                     orem Ipsum available
                     , but the majority h
                     ave suffered altera
                     tion in some form, by 
                  </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="customer_text">LET US HELP YOU</h1>
                  <p class="footer_lorem_text">There are many variat
                     ions of passages of L
                     orem Ipsum available
                     , but the majority h
                     ave suffered altera
                     tion in some form, by 
                  </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="customer_text">INFORMATION</h1>
                  <p class="footer_lorem_text1">About Us<br>
                     Careers<br>
                     Sell on shopee<br>
                     Press & News<br>
                     Competitions<br>
                     Terms & Conditions
                  </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="customer_text">OUR Design</h1>
                  <p class="footer_lorem_text">There are many variat
                     ions of passages of L
                     orem Ipsum available
                     , but the majority h
                     ave suffered altera
                     tion in some form, by 
                  </p>
               </div>
            </div>
            <div class="input-group mb-3">
               <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
               <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"><a href="#">Subscribe</a></span>
               </div>
            </div>
         </div>
      </div>
      <!--  footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
      <div class="container">
         <div class="social_icon">
            <ul>
               <li><a href="#"><img src="../images/fb-icon.png"></a></li>
               <li><a href="#"><img src="../images/twitter-icon.png"></a></li>
               <li><a href="#"><img src="../images/instagram-icon.png"></a></li>
               <li><a href="#"><img src="../images/linkedin-icon.png"></a></li>
            </ul>
         </div>
         <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/popper.min.js"></script>
      <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="../js/jquery-3.0.0.min.js"></script>
      <script src="../js/plugin.js"></script>
      <!-- sidebar -->
      <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../js/custom.js"></script>
      <!-- javascript --> 
      <!-- <script src="../js/owl.carousel.js"></script> -->
      <!-- <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  -->
      
      <!-- 공식부트스트랩 JS -->
      <script src="../js/bootstrap/bootstrap.js"></script>   

      <script>
      "use strict"
      window.onload = 
    	  function findCategory() {
        var para = document.location.href.split("no=");
        console.log("카테고리 번호 =>" + para[1]);
        
        switch(para[1]) {
          case '1' :
        	  document.getElementById( 'cateName' ).innerHTML = "자유게시판";
            document.getElementById( 'cateConment' ).innerHTML = "여기모여 회원들이 자유롭게 소통할 수 있는 자유게시판입니다. ";
            break;
          case '2' :
        	  document.getElementById( 'cateName' ).innerHTML = "식단게시판";
            document.getElementById( 'cateConment' ).innerHTML = "다이어트, 벌크업 등 식이요법에 대한 다양한 정보를 나누는 식단게시판입니다.";
            break;
          case '3' :
        	  document.getElementById( 'cateName' ).innerHTML = "챌린지게시판";
            document.getElementById( 'cateConment' ).innerHTML = "하루하루 도전하는 회원분들의 인증샷을 올리는 챌린지게시판입니다.";
            break;
          case '4' :
        	  document.getElementById( 'cateName' ).innerHTML = "질문게시판";
            document.getElementById( 'cateConment' ).innerHTML = "궁금한 건 어디에서 물어볼 지 고민인 분들을 위한 질문게시판입니다.";
            break;
          case '5' :
        	  document.getElementById( 'cateName' ).innerHTML = "핫딜게시판";
            document.getElementById( 'cateConment' ).innerHTML = "지금이 바로 득템 기회! 핫딜 제품들을 공유할 수 있는 핫딜게시판입니다.";
            
        }
        
      }

      </script>
   </body>
    
 
            <p>
                <a href='../'>메인</a>
            </p>
        </body>
         
    </html>