<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>bitcamp</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    </head>
    <body>
        <h1>게시글 상세 정보</h1>

            <table border='1'>
                <tr>
                    <th>게시판</th>
                    <td>
                      <span value='게시판' th:if="${board.cateno == 1}">자유게시판</span>
                      <span value='게시판' th:if="${board.cateno == 2}">식단게시판</span>
                      <span value='게시판' th:if="${board.cateno == 3}">챌린지게시판</span>
                      <span value='게시판' th:if="${board.cateno == 4}">질문게시판</span>
                      <span value='게시판' th:if="${board.cateno == 5}">핫딜게시판</span>
                    </td>

                </tr>
                <tr>
                    <th>번호</th>
                    <td><input
                        name='no'
                        type='number'
                        value='0'
                        data-th-value="${board.no}"
                        readonly="readonly"></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td><input
                        name='title'
                        type='text'
                        value='제목'
                        data-th-value='${board.title}'
                        size='60'></td>
                </tr>
                <tr>
                    <th>내용</th>
                     <td>
                        <textarea name='content'>내용</textarea>
                    </td> 
                </tr>
                <tr>
                    <th>조회수</th>
                    <td data-th-text="${board.viewCount}">0</td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td data-th-text="${board.writer.name}">홍길동</td>
                </tr>
                <tr>
                    <th>등록일</th>
                    <td data-th-text="${board.createdDate}">0000-00-00</td>
                </tr> 
                <tr>
                  <th>첨부파일</th>
                  <td>
                    <ul>
                      <li data-th-each="file : ${board.attachedFiles}">
                        <a href="files/test.gif"
                           data-th-href="@{files/{path}(path=${file.filepath})}"
                           data-th-text="${file.filepath}">test.gif
                        </a>
                      </li> 
                    </ul>
                  </td>        
              </tr> 
            </table>
            <p>
                <a class="btn btn-primary" href="updateFormBoard?no=1" data-th-href="@{updateFormBoard(no=${board.no})}" role="button">수정</a>
                <a href='delete?no=1' data-th-href="@{deleteBoard(no=${board.no})}">삭제</a>
                <a data-th-href="@{listBoard(no=${board.cateno})}">목록</a>
                <a class="btn btn-primary" href="#" role="button">신고기능</a>
            </p>

        <script>
            $(document).ready(function () {
            	  $('textarea[name=content]').html('[[${board.content}]]');
                $('textarea[name=content]').summernote({toolbar:false});
                $('textarea[name=content]').summernote('disable');
            });
        </script> 
    </body>
</html>