<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>회원가입</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="../css/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="../images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet"
          href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <!-- owl stylesheets -->
        <link rel="stylesheet" href="../css/owl.carousel.min.css">
        <link rel="stylesheet" href="../css/owl.theme.default.min.css">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
        
    </head>
        <body>
          <!-- header section start -->
          <div class="header_section">
            <div class="container-fluid">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="main_logo"><a href="main"><img src="../images/logo.png"></a></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/app">운동하기</a></li>
                    <li class="nav-item"><a class="nav-link" href="board">커뮤니티</a></li>
                    <li class="nav-item"><a class="nav-link" href="notice">공지사항</a></li>
                  </ul>
                  <div class="search_icon">
                    <ul>
                      <li data-th-if="${session.loginMember == null}"><a href="../auth/form" >로그인</a></li>
                      <li data-th-if="${session.loginMember != null}"><a href="member/viewer">마이페이지</a></li>
                      <li data-th-if="${session.loginMember != null}"><a href="auth/logout" data-th-text="${session.loginMember.name} + '(로그아웃)'">동동(로그아웃)</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <!-- header section end -->
          <!-- contact section start -->
          <div class="contact_section layout_padding">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="contact_text">회원가입</h1>
                  <div class="mail_sectin">
                    <form action="/app/member/addjoin" method="post" id="joinForm">
                        <div class="join_menu">아이디</div> 
                      <input type="text" class="email-bt" placeholder="아이디" name="id" id="id">
                        <div class="join_menu">이름</div>
                      <input type="text" class="email-bt" placeholder="이름" name="name">
                        <div class="join_menu">생년월일</div>
                      <input type='date' class="email-bt" placeholder="생년월일" name="birthday">
                        <div class="join_menu">성별<br/>
                          <div class= "join_gender">
                        <span class =gender>남성</span>
                      <input type='radio' class="gender-bt" value="0"name="sex">
                        <span class =gender>여성</span>
                      <input type='radio' class="gender-bt" value="1"name="sex">
                          </div>
                        </div> <br/>
                          <div class="join_menu">전화번호</div>
                      <input type="text" class="phoneNumber" placeholder="(-) 제외 입력" name="tel" required pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" maxlength="13"><br/>
                        <div class="join_menu">이메일</div>
                      <input type="email" class="email-bt" placeholder="이메일" name="email" > 
                      <!-- @
	                      <input type="text" class="custom-email" placeholder="도메인 입력" name="mail_domain" id="mail_domain">
	                      <select class="custom-email" id="mail_domain_select" onchange="selectChange()">
                          <option value="">직접 입력</option>
                          <option value="naver.com">naver.com</option>
                          <option value="daum.net">daum.net</option>
                          <option value="hotmail.com">hotmail.com</option>
                          <option value="nate.com">nate.com</option>
                          <option value="korea.com">korea.com</option>
                          <option value="gmail.com">gmail.com</option>
                          <option value="hanmir.com">hanmir.com</option>
                        </select><br />  -->
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">중복확인</button>
                          <div class="join_menu">닉네임</div>
                      <input type="text" class="email-bt" id= "join_menu_check" placeholder="닉네임" name="nickname">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2">중복확인</button>
                          <div class="join_menu">비밀번호
			                      <input type="password" class="email-bt" id="password" placeholder="비밀번호" name="password"> 
			                      <div id="passwordError" class="error"></div>
			                      <input type="password" class="email-bt" id="passwordCheck" placeholder="비밀번호 확인" name="password_check"> 
			                      <div id="passwordCheckError" class="error"></div>
                          </div>
                        <div class="join_menu">관심지역</div>
                        <select class="email-bt2" id="region" name="region_domain">
                          <option value="0">---선택---</option>
                          <option value="1">종로구</option>
                          <option value="2">중구</option>
                          <option value="3">용산구</option>
                          <option value="4">성동구</option>
                          <option value="5">광진구</option>
                          <option value="6">동대문구</option>
                          <option value="7">중랑구</option>
                          <option value="8">성북구</option>
                          <option value="9">강북구</option>
                          <option value="10">도봉구</option>
                          <option value="11">노원구</option>
                          <option value="12">은평구</option>
                          <option value="13">서대문구</option>
                          <option value="14">마포구</option>
                          <option value="15">양천구</option>
                          <option value="16">강서구</option>
                          <option value="17">구로구</option>
                          <option value="18">금천구</option>
                          <option value="19">영등포구</option>
                          <option value="20">동작구</option>
                          <option value="21">관악구</option>
                          <option value="22">서초구</option>
                          <option value="23">강남구</option>
                          <option value="24">송파구</option>
                          <option value="25">강동구</option>
                      </select> 
                      <select class="email-bt3" id="region" name="region_domain">
                        <option value="0">---선택---</option>
                        <option value="1">종로구</option>
                        <option value="2">중구</option>
                        <option value="3">용산구</option>
                        <option value="4">성동구</option>
                        <option value="5">광진구</option>
                        <option value="6">동대문구</option>
                        <option value="7">중랑구</option>
                        <option value="8">성북구</option>
                        <option value="9">강북구</option>
                        <option value="10">도봉구</option>
                        <option value="11">노원구</option>
                        <option value="12">은평구</option>
                        <option value="13">서대문구</option>
                        <option value="14">마포구</option>
                        <option value="15">양천구</option>
                        <option value="16">강서구</option>
                        <option value="17">구로구</option>
                        <option value="18">금천구</option>
                        <option value="19">영등포구</option>
                        <option value="20">동작구</option>
                        <option value="21">관악구</option>
                        <option value="22">서초구</option>
                        <option value="23">강남구</option>
                        <option value="24">송파구</option>
                        <option value="25">강동구</option>
                      </select><br /> 
                        <div class="join_menu">관심운동</div>
                      <select class="email-bt2" id="sports" name="sports_domain">
                        <option value="0">---선택---</option>
                        <option value="1">헬스</option>
                        <option value="2">클라이밍</option>
                        <option value="3">배드민턴</option>
                        <option value="4">축구</option>
                        <option value="5">농구</option>
                        <option value="6">골프</option>
                        <option value="7">탁구</option>
                        <option value="8">야구</option>
                        <option value="9">러닝</option>
                        <option value="10">사이클</option>
                      </select> 
                      <select class="email-bt3" id="sports" name="sports_domain">
                        <option value="0">---선택---</option>
                        <option value="1">헬스</option>
                        <option value="2">클라이밍</option>
                        <option value="3">배드민턴</option>
                        <option value="4">축구</option>
                        <option value="5">농구</option>
                        <option value="7">골프</option>
                        <option value="8">탁구</option>
                        <option value="9">야구</option>
                        <option value="10">러닝</option>
                        <option value="11">사이클</option>
                      </select><br />
                      <div class="send_bt"><button type="submit" class="send_bt2">회원가입</button></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- contact section end -->
          <!-- copyright section start -->
          <div class="copyright_section">
            <div class="container">
              <div class="social_icon">
                <ul>
                  <li><a href="#"><img src="../images/fb-icon.png"></a></li>
                  <li><a href="#"><img src="../images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="../images/instagram-icon.png"></a></li>
                  <li><a href="#"><img src="../images/linkedin-icon.png"></a></li>
                </ul>
              </div>
               <p class="copyright_text"><a>2022 All Rights Reserved.by comehere</a></p>
            </div>
            </div>
            <!-- copyright section end -->
            <!-- Javascript files-->
            <!--       <script src="js/jquery.min.js"></script> -->
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.bundle.min.js"></script>
            <script src="js/jquery-3.0.0.min.js"></script>
            <script src="js/plugin.js"></script>
            <!-- sidebar -->
            <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
            <script src="js/custom.js"></script>
            <!-- javascript -->
            <script src="js/owl.carousel.js"></script>
            <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
            <script>
             $(document).on("keyup", ".phoneNumber", function () {
              $(this).val(
                $(this)
                  .val()
                  .replace(/[^0-9]/g, "")
                  .replace(
                    /(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,
                    "$1-$2-$3"
                  )
                  .replace("—", "-")
              );
            });
             
/*              // 이메일 분리 처리
             function selectChange(){
               var mailSelect = document.getElementById("mail_domain_select");
               var mailDomain = document.getElementById("mail_domain");
               var selectVal = mailSelect.value;
               if(selectVal == ""){
                 mailDomain.readOnly=false;
                 mailDomain.placeholder="도메인 입력";
                 mailDomain.value="";
               }else{
                 mailDomain.readOnly=true;
                 mailDomain.value=selectVal;
               }
             } */
            </script>
        </body>

</html>
