<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../static/css/common.css">
    </head>

    <body>
        <header id="header" class="header_wrap">
            <div class="header_top wide_max_width_area">
                <h1 class="comehere_logo" style="top:79px;left:6px;">
                    <a href="index.html">
                        <span class="text_logo">여기모여</span>
                        <img src="../../static/images/logo2.jpg" alt="comehere">
                    </a>
                </h1>
                <div class="user_area">
                    <ul class="service_menu">
                        <li class="list_item login">
                            <a href="index.html">로그인</a>
                        </li>
                        <li class="list_item join">
                            <a href="index.html">회원가입</a>
                        </li>
                    </ul>
                    <ul class="member_menu">
                        <li class="list_item mypage">
                            <a href="index.html">마이페이지</a>
                        </li>
                        <li class="list_item notice">
                            <a href="index.html">알림</a>
                        </li>
                    </ul>
                </div>
                <div class="search_area">
                    <form class="search_form" action="index.html" method="GET">
                        <label for="searchInput">검색할 모임을 입력해주세요.</label>
                        <input
                            type="text"
                            id="searchInput" 
                            class="search_input"
                            name="s"
                            value=""
                            title="키워드로 모임을 검색하세요"
                            data-event="264452">
                        <span
                            class="comehere_keyword_value"
                            data-event_no="264452"
                            data-event_title="원하는 검색어를 입력하세요!"
                            data-creative_name="PC_메인_검색창광고"
                            data-creative_slot="1">통합검색
                        </span>
                        <!-- <script>
                            gtag('event', 'view_promotion', {
                                "non_interaction": true,
                                "promotions": [
                                    {
                                        "id": "event_264452",
                                        "name": "event_원하는 검색어를 입력하세요!",
                                        "creative_name": "PC_메인_검색창광고",
                                        "creative_slot": "1"
                                    }
                                ]
                            });
                        </script> -->
                        <input type="submit" class="btn_search" value="검색" title="검색">
                    </form>
                </div>
            </div>
            <div class="header_bottom">
                <div class="wide_max_width_area">
                    <div class="category_section">
                        <div class="title_wrap">
                            <button class="btn_category">전체메뉴</button>
                        </div>
                        <div class="detail_category">
                            <section class="category_event">
                                <ul class="list_col">

                                    <li class="list_item">
                                        <a href="/event/main/?c=085">교육</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=087">세미나/컨퍼런스</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=086">강연</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=090">취미/소모임</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=088">문화/예술/방송</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=092">공모전</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=093">전시/박람회</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=095">이벤트/파티</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=094">패션/뷰티</a>
                                    </li>
                                    <li class="list_item">
                                        <a href="/event/main/?c=096">기타</a>
                                    </li>

                                </ul>
                                <!-- <h1>
                                    <a href="/event/main">전체 모임 보기 &gt;</a>
                                </h1> -->
                            </section>
                        </div>
                      </div>
                    <div class="category_button">
                        <div class="title_wrap">
                            <button class="btn_category">
                              <a href="#">운동하기</a>
                            </button>
                        </div>
                        <div class="title_wrap">
                            <button class="btn_category">
                              <a href="#">건강관리</a>
                            </button>
                        </div>
                        <div class="title_wrap">
                            <button class="btn_category">
                              <a href="#">커뮤니티</a>
                            </button>
                        </div>
                        <div class="title_wrap">
                            <button class="btn_category">
                              <a href="#">공지사항</a>
                            </button>
                        </div>

                    </div>
                  </div>
            </div> <!-- header_bottom -->
        </header>
        
        <main id="main" class="main_wrap">
        <section class="section_top">
          <h2 class="community_logo">
            <a href="communityMaim.html">
              <span class="text_logo"></span>
              <img src="../../static/images/logo2.jpg" alt="여기모여_커뮤니티">
            </a>
          </h2>
          <div class="section_lnb_wrap">
            <div id="section_lnb" class="section_lnb">
              <div><a href="communityFreeList">자유 게시판</a></div>
              <div><a href="communityQnaList">질문 게시판</a></div>
              <div><a href="communityHotdealList">핫딜 게시판</a></div>
              <div><a href="communityEatList">식단 게시판</a></div>
              <div><a href="communityChallengeList">챌린지 게시판</a></div>
            </div>
          </div>
        </section>
        <section class="section_content">
          <div class="hot_week">
            <h3>주간 인기글</h3>
            <div class="hot_week_menu">
              <div>분류</div>
              <div>제목</div>
              <div>작성자</div>
              <div>조회수</div>
            </div>
            <div class="hot_week_content" data-th-each="board : ${boards}">
              <div data-th-text="${board.categoryNo}">1</div>
              <div><a href='detail?no=1'
                    data-th-href="@{detail(no=${board.no})}"
                    data-th-text="${board.title == ''} ? '(제목없음)' : ${board.title}">제목</a>
              </div>
              <div  data-th-text="${board.writer.name}">홍길동</div>
              <div data-th-text="${board.viewCount}">17</div>
            </div>
          </div>
          <div class="new_chall">
            <div style="float: right;" >+더보기</div>
            <h3>최근 챌린지 인증</h3>
            <div class="new_chall_bar"></div>
            <!-- 
              <div class="new_chall_content" data-th-each="board : ${boards}">
                <div>
                <a data-th-href="@{detail(no=${board.no})}"
                    data-th-text="${board.boardAttachedFiles}"></a>
                </div>
                <div><a href='detail?no=1'
                      data-th-href="@{detail(no=${board.no})}"
                      data-th-text="${board.title == ''} ? '(제목없음)' : ${board.title}">제목</a>
                </div>
                <div  data-th-text="${board.writer.name}">홍길동</div>
                <div data-th-text="${board.viewCount}">17</div>
              </div>
               -->
               <ul class="new_chall_list">
                <li class="new_chall_list_li">
                <article class="new_chall_area new_chall_card">
                    <a class="" href="#" target="_blank" >
                        <!-- 이미지 -->
                        <div class="new_chall_thumbnail">
                            <img src="https://cfile1.onoffmix.com/attach/W8lpxIVf4XkiGdyb1Y0jDCr6ZRqTScmo">
                        </div>

                        <div class="new_chall_info_area">
                            <!-- 타이틀 -->
                            <div class="title_area">
                                <h5 class="title ellipsis">
                                    25회 다이어트 챌린지 식단 10/9                                                </h5>
                            </div>
                            <!-- 정보 -->
                            <div class="new_chall_info">
                                <div class="user_nick">
                                                                                            <span class="payment_type free">
                                            병민이    
                                        </span>
                                                                                    </div>
                                <div class="view_count">조회수 125</div>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
                <li class="new_chall_list_li">
                <article class="new_chall_area new_chall_card">
                    <a class="" href="#" target="_blank" >
                        <!-- 이미지 -->
                        <div class="new_chall_thumbnail">
                            <img src="https://cfile1.onoffmix.com/attach/W8lpxIVf4XkiGdyb1Y0jDCr6ZRqTScmo">
                        </div>

                        <div class="new_chall_info_area">
                            <!-- 타이틀 -->
                            <div class="title_area">
                                <h5 class="title ellipsis">
                                    25회 다이어트 챌린지 식단 10/9                                                </h5>
                            </div>
                            <!-- 정보 -->
                            <div class="new_chall_info">
                                <div class="user_nick">
                                                                                            <span class="payment_type free">
                                            병민이    
                                        </span>
                                                                                    </div>
                                <div class="view_count">조회수 125</div>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
                <li class="new_chall_list_li">
                <article class="new_chall_area new_chall_card">
                    <a class="" href="#" target="_blank" >
                        <!-- 이미지 -->
                        <div class="new_chall_thumbnail">
                            <img src="https://cfile1.onoffmix.com/attach/W8lpxIVf4XkiGdyb1Y0jDCr6ZRqTScmo">
                        </div>

                        <div class="new_chall_info_area">
                            <!-- 타이틀 -->
                            <div class="title_area">
                                <h5 class="title ellipsis">
                                    25회 다이어트 챌린지 식단 10/9                                                </h5>
                            </div>
                            <!-- 정보 -->
                            <div class="new_chall_info">
                                <div class="user_nick">
                                                                                            <span class="payment_type free">
                                            병민이    
                                        </span>
                                                                                    </div>
                                <div class="view_count">조회수 125</div>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
                <li class="new_chall_list_li">
                <article class="new_chall_area new_chall_card">
                    <a class="" href="#" target="_blank" >
                        <!-- 이미지 -->
                        <div class="new_chall_thumbnail">
                            <img src="https://cfile1.onoffmix.com/attach/W8lpxIVf4XkiGdyb1Y0jDCr6ZRqTScmo">
                        </div>

                        <div class="new_chall_info_area">
                            <!-- 타이틀 -->
                            <div class="title_area">
                                <h5 class="title ellipsis">
                                    25회 다이어트 챌린지 식단 10/9                                                </h5>
                            </div>
                            <!-- 정보 -->
                            <div class="new_chall_info">
                                <div class="user_nick">
                                                                                            <span class="payment_type free">
                                            병민이    
                                        </span>
                                                                                    </div>
                                <div class="view_count">조회수 125</div>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
                <li class="new_chall_list_li">
                <article class="new_chall_area new_chall_card">
                    <a class="" href="#" target="_blank" >
                        <!-- 이미지 -->
                        <div class="new_chall_thumbnail">
                            <img src="https://cfile1.onoffmix.com/attach/W8lpxIVf4XkiGdyb1Y0jDCr6ZRqTScmo">
                        </div>

                        <div class="new_chall_info_area">
                            <!-- 타이틀 -->
                            <div class="title_area">
                                <h5 class="title ellipsis">
                                    25회 다이어트 챌린지 식단 10/9                                                </h5>
                            </div>
                            <!-- 정보 -->
                            <div class="new_chall_info">
                                <div class="user_nick">
                                                                                            <span class="payment_type free">
                                            병민이    
                                        </span>
                                                                                    </div>
                                <div class="view_count">조회수 125</div>
                            </div>
                        </div>
                    </a>
                </article>
            </li>
                <li class="new_chall_list_li">
                <article class="new_chall_area new_chall_card">
                    <a class="" href="#" target="_blank" >
                        <!-- 이미지 -->
                        <div class="new_chall_thumbnail">
                            <img src="https://cfile1.onoffmix.com/attach/W8lpxIVf4XkiGdyb1Y0jDCr6ZRqTScmo">
                        </div>

                        <div class="new_chall_info_area">
                            <!-- 타이틀 -->
                            <div class="title_area">
                                <h5 class="title ellipsis">
                                    25회 다이어트 챌린지 식단 10/9                                                </h5>
                            </div>
                            <!-- 정보 -->
                            <div class="new_chall_info">
                                <div class="user_nick">
                                                                                            <span class="payment_type free">
                                            병민이    
                                        </span>
                                                                                    </div>
                                <div class="view_count">조회수 125</div>
                            </div>
                        </div>
                    </a>
                </article>
            </li>


       </ul>
       
              
            
          </div>
        </section>
        
        
        
        </main>
        
        
        
        
        
        
    </body>

</html>